body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #d0aa8a;
    color: #333;
}

header {
    background-color: #462911;
    color: white;
    text-align: center;
    padding: 30px;
}

nav {
    background-color: #462911;
    text-align: center;
    padding: 10px;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

section {
    background-color: white;
    margin: 20px;
    padding: 25px;
    border-radius: 8px;
}

h2 {
    color: #462911;
}

ul {
    line-height: 1.8;
}

.galeri {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

.galeri img {
    width: 280px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

footer {
    background-color: #462911;
    color: white;
    text-align: center;
    padding: 15px;
}